* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  padding-top: 4%;
}

h2 {
  font-family: 'Orbitron', sans-serif;
}

.text-box {
  width: 80%;
  font-size: 2vw;
}

/* begin header styling */

.head-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f56505;
  text-align: center;
}

.head-logo {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 7rem;
  padding: 1.5%;
}

nav {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.button {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 2rem;
  width: 25%;
  padding-top: 4%;
  transition: 0.5s;
}

.active-button {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 2rem;
  width: 25%;
  padding-top: 4%;
  background-color: #0fd6cd;
  transition: 0.5s;
}

nav a:hover {
  background-color: #77746f;
}

/* end header styles & begin landing page styles */

.welcome-info {
  display: flex;
  text-align: center;
  border-bottom: #f56505 solid 6px;
  background-image: url(black_mamba.png);
  justify-content: center;
}

.welcome-info img {
  margin: 2% 0 2% 2%;
  width: 30%;
}

.welcome-info p {
  width: 50%;
  margin: auto;
  padding: 5%;
  font-size: 4rem;
  color: #f8f8f8;
}

.member-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.sign-in {
  width: 35%;
  padding: 3% 2%;
  margin: 0 auto;
  background-color: #0fd6cd;
  color: #f8f8f8;
  border-radius: 15px;
  transition: 0.5s;
  border-radius: 10px;
}

.sign-in:hover {
  background-color: #f56505;
}

.sign-up {
  color: #f56505;
  transition: 0.5s;
}

.sign-up:hover {
  color: #0fd6cd;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  background-image: url(white_wall.png);
}

.inner-content-box-1,
.inner-content-box-2,
.inner-content-box-3,
.inner-content-box-4 {
  width: 50%;
}

.inner-content-box-1 img,
.inner-content-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-content-box-2 p,
.inner-content-box-3 p {
  margin: 20% 10%;
  font-size: 5rem;
}

/* end landing page styles & begin about page styles */

.about-container {
  background-image: url(black_mamba.png);
  color: #f8f8f8;
}

.about-content {
  margin: 2% 10%;
  text-align: center;
}

.team {
  text-align: center;
}

.meet-the-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.team-member {
  width: 25%;
  text-align: center;
  padding: 2%;
}

.team-member img {
  width: 85%;
}

.team-member p {
  margin-bottom: 1.5%;
}

.team-member a {
  width: 35%;
  padding: 1% 2%;
  margin: 0 auto;
  background-color: #0fd6cd;
  color: #f8f8f8;
  border-radius: 10px;
  transition: 0.5s;
}

.team-member a:hover {
  background-color: #f56505;
}

/* end about page styles */

/* begin styling for connect page */

.connectsection {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 3;
  margin: 5%;
  justify-content: center;
}

.connectsection img {
  width: 49%;
  object-fit: contain;
}

.connectbox {
  width: 52%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  font-size: 2vw;
}

/* end connect page, begin blog page. */

.blogsection {
  display: flex;
  flex-shrink: 3;
  margin: 5%;
  padding-left: 5%;
  justify-content: center;
}

.blogsection img {
  width: 49%;
  object-fit: contain;
}

.blogsection h3 {
  color:teal;
}

.blogsection h3:hover {
  color:#f56505;
}

.blogbox {
  width: 52%;
  display:inline-block;
  padding: 5%;
  font-size: 2vw;
}

.suggestionsection {
  display: flex;
  flex-shrink: 3;
  margin: 5%;
  padding-left: 5%;
  justify-content: center;
}

.connectbutton {
  width: 15%;
  background-image: linear-gradient(to bottom right, #0fd6cd, #028b70, #0fd6cd);
  padding: 1%;
  color: #f56505;
  font-size:1.6rem;
  text-decoration: none;
  text-align: center;
  }

.connectbutton:hover {
  background-image: linear-gradient(to bottom right, #f56505, #99430a, #f56505);
}

/* 
end blog page. */

/* begin footer styles */

footer {
  background-color: #f56505;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 1% 0;
  text-align: center;
}

.icons a {
  width: 4%;
}

.icons img {
  width: 100%;
}

/* end footer styles and begin media queries */

@media (max-width: 1200px) {
  .member-buttons a {
    font-size: 2rem;
    width: 65%;
    margin: 0 auto;
  }
  .inner-content-box-2 p,
  .inner-content-box-3 p {
    font-size: 3rem;
  }

  .team-member {
    width: 50%;
  }
}

@media (max-width: 800px) {
  /* header */

  .head-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    height: 8rem;
  }

  nav {
    width: 100%;
  }

  nav a {
    padding: 0 1%;
  }

  /* end header styles, begin landing page content styles */

  .welcome-info {
    display: flex;
    text-align: center;
    border-bottom: #f56505 solid 6px;
    background-color: #e6e6e6;
    justify-content: center;
  }

  .welcome-info img {
    display: none;
  }

  .welcome-info p {
    width: 75%;
    padding: 2%;
    font-size: 3rem;
  }

  .member-buttons {
    width: 25%;
  }

  .sign-in {
    width: 90%;
  }

  .sign-up {
    color: #f56505;
    width: 90%;
    margin: 0 auto;
  }

  .inner-content-box-2 p,
  .inner-content-box-3 p {
    margin: 15% 10%;
    font-size: 2rem;
  }

  .inner-content-box-1 img,
  .inner-content-box-4 img {
    height: 100%;
  }

  /* end landing page content styles & begin about page styles */

  .about-content {
    margin: 10% 10%;
  }

  /* end about page styles & begin footer styles */

  .icons a {
    width: 7%;
  }

  /* end footer styles */

  .text-box {
    width: 80%;
    font-size: 3vw;
  }

  .blogbox {
    font-size: 2vw;
  }

  .connectbox {
    font-size: 2vw;
  }
}

@media (max-width: 500px) {
  /* begin header styles */

  .logo {
    height: 6rem;
  }

  h1 {
    font-size: 3rem;
  }

  /* end header styles & begin home page content styles */

  .member-buttons a {
    font-size: 1.5rem;
    width: 80%;
  }

  .sign-up {
    padding-top: 3%;
  }

  .welcome-info p {
    width: 75%;
    padding: 2%;
    font-size: 2rem;
  }

  .inner-content-box-1,
  .inner-content-box-2,
  .inner-content-box-3,
  .inner-content-box-4 {
    width: 100%;
  }

  .inner-content-box-1 {
    order: 1;
  }
  .inner-content-box-2 {
    order: 2;
  }
  .inner-content-box-3 {
    order: 4;
  }
  .inner-content-box-4 {
    order: 3;
  }

  /* end home page styles & begin about page styles */

  .team-member {
    width: 100%;
  }

  /* end about page content styles & begin footer styles */

  .icons a {
    width: 15%;
  }

  /* end footer styles */

  .text-box {
    width: 80%;
    font-size: 3.5vw;
    text-align: center;
  }

  /* begin connect page styles. */

  .connectsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 96vw;
    margin: 5% 0%;
  }

  .connectbox {
    width: 80%;
    font-size: 4vw;
    text-align: center;
  }

  /* begin blog page styles */

  .blogsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
  }
  
  .blogsection img {
    width: 80%;
  }

  .blogbox {
    width: 80%;
    font-size: 4vw;
    text-align: center;
    display:flex;
    justify-content: center;
    padding: 5% 1%;
  }
}
@media (max-width: 320px) {
  /* begin header styles */

  h1 {
    font-size: 2rem;
  }
  .logo {
    height: 4rem;
  }

  .button {
    font-size: 1.5rem;
  }

  .active-button {
    font-size: 1.5rem;
  }

  /* end header styles and begin about page styles */

  .about-content h2 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }

  .team {
    font-size: 2rem;
  }

  .team-member h3 {
    font-size: 2rem;
  }

  .team-member p {
    font-size: 1.5rem;
  }

  .team-member a {
    font-size: 2rem;
  }
}
