*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html {
  font-size:62.5%;
}

body{
  line-height:2;
  font-size:2.5rem;
}

header{

}

.container {
  display: flex;
}

.logo {

}

h1 {
  
}

h2 {
}

.text-box {
  width: 80%;
}

#hnavbuttons {
  display: flex;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-right: 60%;
}

.button1 {
  color: #b8f2e6;
  text-decoration: none;
  background-color: #073b4c;
  padding: 0 5%;
  font-size:1.6rem;
  height: 2%;
}

nav a {
  color: #b8f2e6;
  text-decoration: none;
  background-color: #118ab2;
  padding: 0 5%;
  font-size:1.6rem;
  height: 2%;
}

nav a:hover {
  background-color: #b8f2e6;
  color: #FFCD69;
  animation-name: navhover;
  animation-duration: 6s;
  animation-iteration-count: 10;
}

@keyframes navhover {
  0%   {background-color: #b8f2e6;}
  25%  {background-color: #b8f2e6;}
  50%  {background-color: #06d6a0;}
  75%  {background-color: #b8f2e6;}
  100% {background-color: white;}
}

.section1 {
  display: flex;
  margin: 1%;
}

.section1 img {
  width: 49%;
  height: auto;
}

.contact {
  line-height:2;
  font-size:3.6rem;
}

.aboutbox {
  width: 52%;
  display:inline-block;
  margin-top: 10%;
  margin-left: 5%
  margin-bottom: 5%;
  padding-left: 5%;
  color:#023e8a;
  }


.projectsbutton {
  background-image: linear-gradient(to bottom right, #023e8a, #b8f2e6, #023e8a);
  color: #023e8a;
  padding: 1% 3%;
  margin: 3% auto;
  font-size:1.6rem;
  text-decoration: none;
}

.projectsbutton:hover {
  background-image: linear-gradient(to bottom right, #023e8a, #b8f2e6, #023e8a);
  color: white;
}


.artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-content: center;
  align-content: space-around;
  align-content: space-between;
}

.artist img {
  margin-bottom: 3%;
}

h3 {
  margin-bottom: 3%;
}

#pic {
  margin-top: 5%;
  border-radius: 30%;
}

footer {
  background-color: #ffa6c1;
  padding-top: 5%;
  margin-top: 5%;
}

.ender {
  background-image: linear-gradient(#ffa6c1, white, #ffa6c1);
  display:inline-block;
  width:100%;
  margin-bottom: 5%;
  text-align: center;
  color: #a53860;
}

.contactbutton {
  background-color: #a53860;
  color: white;
  padding: 1% 3%;
  height: 2%;
  font-size:1.5rem;
  text-decoration: none;
}

.contactbutton:hover {
  background-color: white;
  color: #fca311;
  animation-name: navhover;
  animation-duration: 6s;
  animation-iteration-count: 10;
}

.icons {
  display:flex;
  justify-content: center;
}
